
 <nz-divider nzPlain nzText="Medical Exams" nzOrientation="left"></nz-divider>

<nz-table #basicTable [nzData]="observations" [nzPageSize]="50" [nzScroll]="{ y: '240px' }">
  <thead>
    <tr>
      <th>Date</th>
      <th>Test</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.effectiveDateTime }}</td>
      <td>{{ data.code?.text }}</td>
      <td>
        <p *ngIf="data.valueQuantity">{{ data.valueQuantity.value }} ({{ data.valueQuantity.unit }})</p>
        <div *ngFor="let componentVS of data.component">
          <p>{{componentVS.code?.text}}: {{componentVS.valueQuantity?.value}} ({{ componentVS.valueQuantity?.unit }})</p>
        </div>
       </td>
    </tr>
  </tbody>
</nz-table>

<a nz-button nzType="link" (click)="copyObservation()"><span nz-icon nzType="copy fhir data" nzTheme="outline"></span>copy fhir data</a>
